.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1645-4
{
	font-family: julee-n4, fantasy;
}

#u1688-4,#u1689-4
{
	font-family: dosis-n3, sans-serif;
}

#u1787-4
{
	font-family: dosis-n3, sans-serif;
}

#u1778-2,#u1778-4,#u1780-6,#u1779-6,#u1781-6
{
	font-family: dosis-n4, sans-serif;
}

