#u1643
{
	background-color: #CACACA;
}

.Header-Shadow
{
	border-style: none;
	-pie-box-shadow: 0px 2px 8px #7F7F7F;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #8D1E31;
}

#u1645-4
{
	background-color: transparent;
	line-height: 58px;
	color: #1B1464;
	font-size: 48px;
	font-family: julee, fantasy;
	font-weight: 400;
	position: relative;
}

#u1644
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #CACACA;
	-webkit-transform: matrix(0,1,-1,0,42,8);
	-ms-transform: matrix(0,1,-1,0,42,8);
	transform: matrix(0,1,-1,0,42,8);
	position: relative;
}

#u1646
{
	position: relative;
}

#accordionu1648
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u1650-3
{
	border-color: #FFFFFF;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	background: transparent url("../../images/menu-icon.png") no-repeat right center;
}

#u1650-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
}

#u1651
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#menuu1652
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1654
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #7F7F7F;
	position: relative;
}

#u1654:hover
{
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	-pie-background: rgba(127,127,127,0.6);
}

#u1654.MuseMenuActive
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u1655-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u1661
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #7F7F7F;
	position: relative;
}

#u1661:hover
{
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	-pie-background: rgba(127,127,127,0.6);
}

#u1661.MuseMenuActive
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u1662-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u1682
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #7F7F7F;
	position: relative;
}

#u1682:hover
{
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	-pie-background: rgba(127,127,127,0.6);
}

#u1682.MuseMenuActive
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u1684-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u1677
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #7F7F7F;
	position: relative;
}

#u1677:hover
{
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	-pie-background: rgba(127,127,127,0.6);
}

#u1677.MuseMenuActive
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u1680-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u1649,#u1653,#u1660,#u1681,#u1674,#u1667
{
	background-color: transparent;
	position: relative;
}

#u1668
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #7F7F7F;
	position: relative;
}

#u1668:hover
{
	background-color: #B2B2B2;
	background-color: rgba(127,127,127,0.6);
	-pie-background: rgba(127,127,127,0.6);
}

#u1668.MuseMenuActive
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u1669-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	position: relative;
}

#u1654.MuseMenuActive #u1655-4,#u1661.MuseMenuActive #u1662-4,#u1682.MuseMenuActive #u1684-4,#u1677.MuseMenuActive #u1680-4,#u1668.MuseMenuActive #u1669-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1647
{
	border-color: #000000;
	background-color: #CACACA;
}

#u1688-4,#u1689-4
{
	background-color: transparent;
	line-height: 29px;
	color: #1B1464;
	font-size: 24px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
}

