.version.how_it_works /* version checker */
{
	color: #0000F9;
	background-color: #307D5C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -11px;
	width: 0.01px;
}

#pu1545
{
	width: 0.01px;
}

#u1545
{
	z-index: 2;
	width: 380px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1547-4
{
	z-index: 4;
	width: 300px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#u1546
{
	z-index: 3;
	width: 34px;
	height: 50px;
	margin-bottom: -8px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 325px;
}

#u1548
{
	z-index: 8;
	width: 48px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 319px;
}

.ie #u1548
{
	background-color: #FFFFFF;
	opacity: 0.009999999999999998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.9999999999999998)";
	filter: alpha(opacity=0.9999999999999998);
}

#accordionu1550
{
	z-index: 10;
	width: 343px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#u1551
{
	z-index: 11;
	width: 343px;
}

#u1552-3
{
	z-index: 12;
	width: 333px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1552-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 333px;
	margin: 0px;
}

#u1553
{
	z-index: 15;
	width: 343px;
	padding-bottom: 3px;
}

#menuu1554
{
	z-index: 16;
	width: 295px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 24px;
}

#u1555
{
	width: 295px;
}

#u1558
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1558:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1559-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1558:hover #u1559-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1569
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1558.MuseMenuActive,#u1569:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1572-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1558.MuseMenuActive #u1559-4,#u1569:hover #u1572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1576
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1569.MuseMenuActive,#u1576:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1578-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1569.MuseMenuActive #u1572-4,#u1576:hover #u1578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1583
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1576.MuseMenuActive,#u1583:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1585-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1576.MuseMenuActive #u1578-4,#u1583:hover #u1585-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1568,#u1575,#u1582,#u1589
{
	width: 295px;
	margin-top: 11px;
}

#u1590
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1583.MuseMenuActive,#u1590:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1590.MuseMenuActive
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1592-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1583.MuseMenuActive #u1585-4,#u1590:hover #u1592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1590.MuseMenuActive #u1592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1998
{
	z-index: 55;
	width: 248px;
	background: #EDEDED url("../../images/u1998-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(52%, #EDEDED));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EDEDED 52%);
	background: linear-gradient(to bottom,#FFFFFF ,#EDEDED 52%);
	padding-bottom: 0px;
	margin-left: 62px;
	margin-top: 9px;
	position: relative;
}

#u1999-4
{
	z-index: 56;
	width: 248px;
	min-height: 50px;
	background-color: #0071BC;
	border-radius: 15px 15px 0px 0px ;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u1999-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 248px;
	margin: 0px;
}

#u2000
{
	z-index: 60;
	width: 208px;
	background-color: transparent;
	margin-left: 16px;
	margin-top: 3px;
	position: relative;
}

#u2002-6
{
	z-index: 62;
	width: 208px;
	min-height: 117px;
	background-color: transparent;
	text-align: center;
	font-family: dosis, sans-serif;
	margin-left: 15px;
	margin-top: 6px;
	position: relative;
}

#u2003
{
	z-index: 68;
	width: 248px;
	height: 36px;
	background-color: #0071BC;
	border-radius: 0px 0px 15px 15px ;
	margin-top: 20px;
	position: relative;
}

#u2005
{
	z-index: 69;
	width: 248px;
	background: #EDEDED url("../../images/u2005-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(50%, #EDEDED));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EDEDED 50%);
	background: linear-gradient(to bottom,#FFFFFF ,#EDEDED 50%);
	margin-left: 66px;
	margin-top: 20px;
	position: relative;
}

#u2005_position_content
{
	margin-bottom: -1px;
}

#u2006-4
{
	z-index: 70;
	width: 248px;
	min-height: 55px;
	background-color: #0071BC;
	border-radius: 15px 15px 0px 0px ;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u2007
{
	z-index: 74;
	width: 187px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 1px;
	position: relative;
}

#u2009-6
{
	z-index: 76;
	width: 209px;
	min-height: 121px;
	background-color: transparent;
	text-align: center;
	font-family: dosis, sans-serif;
	margin-left: 24px;
	position: relative;
}

#u2010
{
	z-index: 82;
	width: 248px;
	height: 38px;
	background-color: #0071BC;
	border-radius: 0px 0px 15px 15px ;
	margin-top: 12px;
	position: relative;
}

#pu2012
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 20px;
}

#u2012
{
	z-index: 83;
	width: 248px;
	background: #EDEDED url("../../images/u2012-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(50%, #EDEDED));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EDEDED 50%);
	background: linear-gradient(to bottom,#FFFFFF ,#EDEDED 50%);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2013-4
{
	z-index: 84;
	width: 248px;
	min-height: 55px;
	background-color: #0071BC;
	border-radius: 15px 15px 0px 0px ;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u2017
{
	z-index: 96;
	width: 248px;
	height: 37px;
	background-color: #0071BC;
	border-radius: 0px 0px 15px 15px ;
	margin-top: 326px;
	position: relative;
}

#u2014
{
	z-index: 88;
	width: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u2016-6
{
	z-index: 90;
	width: 207px;
	min-height: 88px;
	background-color: transparent;
	text-align: center;
	font-family: dosis, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
	left: 16px;
}

#pu2019
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 21px;
}

#u2019
{
	z-index: 97;
	width: 248px;
	background: #EDEDED url("../../images/u2012-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(50%, #EDEDED));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EDEDED 50%);
	background: linear-gradient(to bottom,#FFFFFF ,#EDEDED 50%);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2020-4
{
	z-index: 98;
	width: 248px;
	min-height: 55px;
	background-color: #0071BC;
	border-radius: 15px 15px 0px 0px ;
	line-height: 45px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
}

#u2006-4:hover,#u2013-4:hover,#u2020-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 248px;
	margin: 0px;
}

#u1999-4:hover p,#u1999-4:hover h1,#u2006-4:hover p,#u2006-4:hover h1,#u2013-4:hover p,#u2013-4:hover h1,#u2020-4:hover p,#u2020-4:hover h1
{
	color: #0071BC;
	visibility: inherit;
}

#u1999-2,#u2006-2,#u2013-2,#u2020-2
{
	padding-right: 2px;
}

#u2024
{
	z-index: 110;
	width: 248px;
	height: 37px;
	background-color: #0071BC;
	border-radius: 0px 0px 15px 15px ;
	margin-top: 326px;
	position: relative;
}

#u2021
{
	z-index: 102;
	width: 204px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 24px;
}

#u2023-6
{
	z-index: 104;
	width: 207px;
	background-color: transparent;
	text-align: center;
	font-family: dosis, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 24px;
}

#u2002-2,#u2009-2,#u2016-2,#u2023-2
{
	font-size: 18px;
	line-height: 22px;
	color: #0071BC;
	font-weight: 400;
}

#u2002-4,#u2009-4,#u2016-4,#u2023-4
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 300;
}

#u1549
{
	z-index: 9;
	min-height: 31px;
	padding-bottom: 18px;
}

#u1596-4
{
	z-index: 47;
	width: 62px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 63px;
}

#u1597-4
{
	z-index: 51;
	width: 141px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 140px;
}

#u1549-bw
{
	z-index: 9;
	min-height: 31px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

