.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1547-4
{
	font-family: julee-n4, fantasy;
}

#u1596-4,#u1597-4
{
	font-family: dosis-n3, sans-serif;
}

#u1794-4
{
	font-family: dosis-n3, sans-serif;
}

#u1802-2,#u1802-4,#u1806-6,#u1810-6,#u1814-6
{
	font-family: dosis-n4, sans-serif;
}

