.version.index /* version checker */
{
	color: #0000FC;
	background-color: #2D6971;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.55px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -11px;
	width: 0.01px;
}

#pu1545
{
	width: 0.01px;
}

#u1545
{
	z-index: 2;
	width: 380px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u1547-4
{
	z-index: 4;
	width: 300px;
	min-height: 59px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#u1546
{
	z-index: 3;
	width: 34px;
	height: 50px;
	margin-bottom: -8px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 325px;
}

#u1548
{
	z-index: 8;
	width: 48px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 319px;
}

.ie #u1548
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#accordionu1550
{
	z-index: 10;
	width: 343px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#u1551
{
	z-index: 11;
	width: 343px;
}

#u1552-3
{
	z-index: 12;
	width: 333px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1552-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 333px;
	margin: 0px;
}

#u1553
{
	z-index: 15;
	width: 343px;
	padding-bottom: 3px;
}

#menuu1554
{
	z-index: 16;
	width: 295px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 24px;
}

#u1555
{
	width: 295px;
}

#u1558
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1558:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1559-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1558:hover #u1559-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1569
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1558.MuseMenuActive,#u1569:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1572-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1558.MuseMenuActive #u1559-4,#u1569:hover #u1572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1576
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1569.MuseMenuActive,#u1576:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1578-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1569.MuseMenuActive #u1572-4,#u1576:hover #u1578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1583
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1576.MuseMenuActive,#u1583:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1585-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1576.MuseMenuActive #u1578-4,#u1583:hover #u1585-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1568,#u1575,#u1582,#u1589
{
	width: 295px;
	margin-top: 11px;
}

#u1590
{
	width: 295px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1583.MuseMenuActive,#u1590:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1590.MuseMenuActive
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1592-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1583.MuseMenuActive #u1585-4,#u1590:hover #u1592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1590.MuseMenuActive #u1592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u1746-5
{
	z-index: 55;
	width: 360px;
	min-height: 342px;
	background-color: transparent;
	font-size: 22px;
	text-align: justify;
	line-height: 26px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u1746-2
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u1747
{
	z-index: 60;
	width: 360px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
}

#u1750
{
	z-index: 62;
	width: 360px;
	min-height: 242px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
}

#u1549
{
	z-index: 9;
	min-height: 31px;
	padding-bottom: 18px;
}

#u1596-4
{
	z-index: 47;
	width: 62px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 63px;
}

#u1597-4
{
	z-index: 51;
	width: 141px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 140px;
}

#u1549-bw
{
	z-index: 9;
	min-height: 31px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

