.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u318
{
	font-family: julee-n4, fantasy;
}

#u848-4
{
	font-family: dosis-n3, sans-serif;
}

#u878-2,#u878-4,#u879-6,#u880-6,#u881-6
{
	font-family: dosis-n4, sans-serif;
}

