#u1165
{
	background-color: #856284;
	position: relative;
}

.Header-Shadow
{
	border-style: none;
	-pie-box-shadow: 0px 2px 8px #7F7F7F;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
	border-color: #000000;
	background-color: #8D1E31;
}

#u1166
{
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: #856284;
	-webkit-transform: matrix(0,1,-1,0,42,8);
	-ms-transform: matrix(0,1,-1,0,42,8);
	transform: matrix(0,1,-1,0,42,8);
	position: relative;
}

#u1167-3
{
	background-color: transparent;
	line-height: 48px;
	position: relative;
}

#u1168
{
	position: relative;
}

#accordionu1170
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u1172-3
{
	border-color: #FFFFFF;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	background: transparent url("../../images/menu-icon.png") no-repeat right center;
}

#u1172-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
}

#u1173
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#menuu1174
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1178
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #856284;
	position: relative;
}

#u1178:hover
{
	background-color: #B5A0B5;
	background-color: rgba(133,98,132,0.6);
	-pie-background: rgba(133,98,132,0.6);
}

#u1178.MuseMenuActive
{
	background-color: #856284;
	background-color: rgba(133,98,132,1);
	-pie-background: rgba(133,98,132,1);
}

#u1181-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u1197
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #856284;
	position: relative;
}

#u1197:hover
{
	background-color: #B5A0B5;
	background-color: rgba(133,98,132,0.6);
	-pie-background: rgba(133,98,132,0.6);
}

#u1197.MuseMenuActive
{
	background-color: #856284;
	background-color: rgba(133,98,132,1);
	-pie-background: rgba(133,98,132,1);
}

#u1199-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u1204
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #856284;
	position: relative;
}

#u1204:hover
{
	background-color: #B5A0B5;
	background-color: rgba(133,98,132,0.6);
	-pie-background: rgba(133,98,132,0.6);
}

#u1204.MuseMenuActive
{
	background-color: #856284;
	background-color: rgba(133,98,132,1);
	-pie-background: rgba(133,98,132,1);
}

#u1207-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u1211
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #856284;
	position: relative;
}

#u1211:hover
{
	background-color: #B5A0B5;
	background-color: rgba(133,98,132,0.6);
	-pie-background: rgba(133,98,132,0.6);
}

#u1211.MuseMenuActive
{
	background-color: #856284;
	background-color: rgba(133,98,132,1);
	-pie-background: rgba(133,98,132,1);
}

#u1213-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u1171,#u1175,#u1194,#u1201,#u1208,#u1215
{
	background-color: transparent;
	position: relative;
}

#u1216
{
	-pie-box-shadow: 1px 1px 8px #7F7F7F;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	background-color: #856284;
	position: relative;
}

#u1216:hover
{
	background-color: #B5A0B5;
	background-color: rgba(133,98,132,0.6);
	-pie-background: rgba(133,98,132,0.6);
}

#u1216.MuseMenuActive
{
	background-color: #856284;
	background-color: rgba(133,98,132,1);
	-pie-background: rgba(133,98,132,1);
}

#u1218-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	position: relative;
}

#u1178.MuseMenuActive #u1181-4,#u1197.MuseMenuActive #u1199-4,#u1204.MuseMenuActive #u1207-4,#u1211.MuseMenuActive #u1213-4,#u1216.MuseMenuActive #u1218-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1222-4
{
	border-color: #000000;
	background-color: #856284;
	line-height: 22px;
	font-size: 18px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
}

