.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u594,#u594-2
{
	font-family: megrim-n4, fantasy;
}

#u968-4,#u968
{
	font-family: megrim-n4, fantasy;
}

#u1035-4
{
	font-family: dosis-n3, sans-serif;
}

