.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1222-4
{
	font-family: dosis-n3, sans-serif;
}

#u1272-4
{
	font-family: megrim-n4, fantasy;
}

#u1294-4
{
	font-family: dosis-n3, sans-serif;
}

