@charset "utf-8";
body {
	background-image: url(0bgr.jpg);
	color: #C7C0C0;
}
body header {
	width: 900px;
	height: 100px;
	font-variant: small-caps;
	font-size: 50px;
	font-family: advent-pro;
	font-style: normal;
	font-weight: 100;
	color: #CFC0C0;
}
body nav {
	padding-top: 10px;
	color: #B9B1B1;
	font-variant: small-caps;
}
body nav a {
	background-color: #454444;
	color: #D3D3D3;
	padding-left: 10px;
	padding-right: 10px;
	a:visited {
	color: #8E8888;
	text-decoration: none;
	padding-bottom: 20px;
	
	
}
body p {
}
footer {
	background-color: #6F6E6E;
	color: #FFFFFF;
}
body footer {
	text-align: center;
}
tbody tr th {
	background-color: #6F2326;
	font-variant: small-caps;
	border-color: #6D6897;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(138,25,25,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(138,25,25,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(138,25,25,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(138,25,25,1.00) 100%);
	background-position: 100px 100px;
}
table tbody tr {
	background-color: #8B8A06;
}
a:hover {
	
	font-size:150%;
	background-color: #632a2a;
  color: #fff;
}
a:active {
	color: #9A6162;




@media screen{
}
