.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1547-4
{
	font-family: julee-n4, fantasy;
}

#u1596-4,#u1597-4
{
	font-family: dosis-n3, sans-serif;
}

#u1923-4,#u1928-4,#u1935-4,#u1936-4,#u1940-4
{
	font-family: dosis-n4, sans-serif;
}

