.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u318
{
	font-family: julee-n4, fantasy;
}

#u940-4,#u517-2
{
	font-family: dosis-n3, sans-serif;
}

