.version.index /* version checker */
{
	color: #0000EA;
	background-color: #FE470D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 671px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u396
{
	z-index: 8;
	width: 120px;
	height: 665px;
	margin-right: -10000px;
	margin-top: 7px;
	left: -100px;
}

#pu321
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u321
{
	z-index: 2;
	width: 1220px;
	height: 65px;
}

#u497
{
	z-index: 59;
	width: 868px;
	background-color: transparent;
	margin-left: 348px;
	margin-top: 7px;
	position: relative;
}

#u497_position_content
{
	padding-top: 8px;
	padding-bottom: 8px;
}

#u940-4
{
	z-index: 67;
	width: 863px;
	min-height: 47px;
	background: #CACACA url("../images/u940-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(52%, #CACACA));
	background: -webkit-linear-gradient(left,#FFFFFF ,#CACACA 52%);
	background: linear-gradient(to right,#FFFFFF ,#CACACA 52%);
	line-height: 43px;
	font-size: 36px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	position: relative;
}

#pu517-5
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 10px;
}

#u517-5
{
	z-index: 60;
	width: 323px;
	min-height: 285px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u517-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u517
{
	line-height: 17px;
}

#u517-2
{
	font-size: 18px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	line-height: 22px;
}

#u2112
{
	z-index: 73;
	width: 505px;
	min-height: 285px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 331px;
}

#pu1764
{
	width: 0.01px;
	margin-left: 72px;
	margin-top: 7px;
}

#u1764
{
	z-index: 71;
	width: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u932
{
	z-index: 65;
	width: 379px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u322
{
	z-index: 3;
	width: 1240px;
	margin-top: 81px;
}

#u323-4
{
	z-index: 4;
	width: 126px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 577px;
}

#pamphletu397
{
	z-index: 9;
	width: 0.01px;
	height: 141px;
	padding-bottom: 411px;
	top: 101px;
	right: 1332px;
}

#u409popup
{
	z-index: 10;
}

#u409
{
	width: 330px;
}

#u410
{
	z-index: 11;
	width: 330px;
	height: 552px;
	margin-right: -10000px;
}

#u427
{
	z-index: 47;
	width: 315px;
	padding-bottom: 23px;
	margin-left: 15px;
}

#u318-4
{
	z-index: 48;
	width: 216px;
	min-height: 97px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 19px;
}

#buttonu411
{
	z-index: 12;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu411:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u412-4
{
	z-index: 13;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu411:hover #u412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u413
{
	z-index: 17;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu411:hover #u413
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu411:active #u413
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu419
{
	z-index: 26;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu411.ButtonSelected,#buttonu419:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u422-4
{
	z-index: 27;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu411.ButtonSelected #u412-4,#buttonu419:hover #u422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u420
{
	z-index: 31;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu411.ButtonSelected #u413,#buttonu419:hover #u420
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu419:active #u420
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu415
{
	z-index: 33;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
	top: -1px;
	margin-bottom: -1px;
}

#buttonu415:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 16px;
}

#buttonu415.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 16px;
}

#u416-4
{
	z-index: 34;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu419.ButtonSelected #u422-4,#buttonu415:hover #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u417
{
	z-index: 38;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu419.ButtonSelected #u420,#buttonu415:hover #u417
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu415:active #u417
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu438
{
	z-index: 40;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
	margin-top: 1px;
}

#buttonu438:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px 16px;
}

#buttonu438.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px 16px;
}

#u441-4
{
	z-index: 41;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu415.ButtonSelected #u416-4,#buttonu438:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u439
{
	z-index: 45;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu415.ButtonSelected #u417,#buttonu438:hover #u439
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu438:active #u439
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423
{
	z-index: 19;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu419.ButtonSelected,#buttonu423:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#buttonu423.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u424-4
{
	z-index: 20;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu438.ButtonSelected #u441-4,#buttonu423:hover #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu423.ButtonSelected #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u425
{
	z-index: 24;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu438.ButtonSelected #u439,#buttonu423:hover #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423:active #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423.ButtonSelected #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u400
{
	z-index: 52;
	width: 72px;
	padding-bottom: 142px;
	margin-right: -10000px;
	left: 258px;
}

#u401
{
	width: 72px;
	padding-bottom: 55px;
	top: 101px;
	right: 1002px;
}

#u401.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u402
{
	z-index: 54;
	width: 39px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u401.PamphletThumbSelected #u402
{
	width: 39px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u406
{
	width: 72px;
	padding-bottom: 40px;
	left: 258px;
}

#u407
{
	z-index: 57;
	width: 60px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 5px;
}

body
{
	position: relative;
	min-width: 1260px;
	padding-top: 36px;
	padding-bottom: 1px;
}

