.version.tools /* version checker */
{
	color: #00000A;
	background-color: #0A36AD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1260px;
	min-height: 671px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u396
{
	z-index: 8;
	width: 120px;
	height: 665px;
	margin-right: -10000px;
	margin-top: 7px;
	left: -100px;
}

#pu321
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u321
{
	z-index: 2;
	width: 1220px;
	height: 65px;
}

#u1091-4
{
	z-index: 209;
	width: 848px;
	min-height: 39px;
	background: #CACACA url("../images/u1091-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(56%, #CACACA));
	background: -webkit-linear-gradient(left,#FFFFFF ,#CACACA 56%);
	background: linear-gradient(to right,#FFFFFF ,#CACACA 56%);
	line-height: 36px;
	font-size: 30px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	margin-left: 372px;
	margin-top: 7px;
	position: relative;
}

#tab-panelu941
{
	z-index: 59;
	width: 848px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: 373px;
	margin-top: 5px;
	position: relative;
}

#u955
{
	z-index: 60;
	width: 848px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u960
{
	z-index: 61;
	width: 211px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u960:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u960.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u963-4
{
	z-index: 62;
	width: 211px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u960:hover #u963-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	z-index: 66;
	width: 211px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#u964:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u966-4
{
	z-index: 67;
	width: 211px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u964:hover #u966-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#u980
{
	z-index: 71;
	width: 211px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u980:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u981-4
{
	z-index: 72;
	width: 211px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u980:hover #u981-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#u989
{
	z-index: 76;
	width: 211px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 635px;
}

#u989:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u964.TabbedPanelsTabSelected,#u980.TabbedPanelsTabSelected,#u989.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 211px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u990-4
{
	z-index: 77;
	width: 211px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u989:hover #u990-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#u960.TabbedPanelsTabSelected #u963-4,#u964.TabbedPanelsTabSelected #u966-4,#u980.TabbedPanelsTabSelected #u981-4,#u989.TabbedPanelsTabSelected #u990-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#u942
{
	z-index: 81;
	width: 848px;
	background-color: transparent;
	position: relative;
}

#u943
{
	z-index: 82;
	width: 825px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 24px 17px 109px 4px;
	border-width: 0px 1px 1px;
}

#u1034
{
	z-index: 83;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1040-4
{
	z-index: 85;
	width: 672px;
	min-height: 135px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 153px;
}

#u1062-4
{
	z-index: 99;
	width: 144px;
	min-height: 36px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	margin-top: 12px;
	position: relative;
}

#pu1063
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 8px;
}

#u1063
{
	z-index: 103;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1069
{
	z-index: 105;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u1075
{
	z-index: 107;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 333px;
}

#u1081
{
	z-index: 109;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#pu1087-4
{
	width: 0.01px;
	margin-top: 3px;
}

#u1087-4
{
	z-index: 111;
	width: 115px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
}

#u1088-4
{
	z-index: 115;
	width: 113px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 176px;
}

#u1089-4
{
	z-index: 119;
	width: 114px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u1090-4
{
	z-index: 123;
	width: 115px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 513px;
}

#u1043-4
{
	z-index: 89;
	width: 145px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	margin-left: 6px;
	margin-top: 9px;
	position: relative;
}

#pu1044
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 5px;
}

#u1044
{
	z-index: 93;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1050
{
	z-index: 95;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 194px;
}

#u1056
{
	z-index: 97;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u947
{
	z-index: 127;
	width: 838px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 13px 1px 113px 7px;
	border-width: 0px 1px 1px;
}

#pu1034,#pu1128
{
	width: 0.01px;
}

#u1128
{
	z-index: 141;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1134-4
{
	z-index: 143;
	width: 672px;
	min-height: 150px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#pu1127-13
{
	width: 0.01px;
	margin-top: 10px;
}

#u1127-13
{
	z-index: 128;
	width: 838px;
	min-height: 372px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1127
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u1127-9
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1127-8
{
	font-size: 24px;
	line-height: 29px;
}

#u1127-3,#u1127-4,#u1127-6,#u1127-7,#u1127-10
{
	text-align: justify;
}

#u1135
{
	z-index: 147;
	width: 696px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 7px;
}

#u984
{
	z-index: 149;
	width: 838px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 29px 5px 97px 3px;
	border-width: 0px 1px 1px;
}

#pu1147
{
	width: 0.01px;
	margin-left: 156px;
}

#u1147
{
	z-index: 152;
	width: 168px;
	background-color: #C9C9C9;
	position: relative;
	margin-right: -10000px;
}

#u1141
{
	z-index: 150;
	width: 168px;
	background-color: #C9C9C9;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#pu1174-4
{
	width: 0.01px;
	margin-left: 156px;
	margin-top: 15px;
}

#u1174-4
{
	z-index: 160;
	width: 168px;
	min-height: 98px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1175-4
{
	z-index: 164;
	width: 168px;
	min-height: 103px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#pu1153
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 39px;
}

#u1153
{
	z-index: 154;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1159
{
	z-index: 156;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u1165
{
	z-index: 158;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 692px;
}

#pu1176-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 11px;
}

#u1176-4
{
	z-index: 168;
	width: 87px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
}

#u1177-4
{
	z-index: 172;
	width: 111px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 323px;
}

#u1178-4
{
	z-index: 176;
	width: 100px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 686px;
}

#u1179
{
	z-index: 180;
	width: 838px;
	background-color: transparent;
	margin-top: 66px;
	position: relative;
}

#u993
{
	z-index: 182;
	width: 846px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u993_position_content
{
	margin-bottom: -1px;
	padding-top: 11px;
}

#pu1185
{
	width: 0.01px;
	margin-left: 7px;
}

#u1185
{
	z-index: 183;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1195-4
{
	z-index: 185;
	width: 703px;
	min-height: 136px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#pu1196
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 27px;
}

#u1196
{
	z-index: 189;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1214-4
{
	z-index: 195;
	width: 703px;
	min-height: 150px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#pu1202
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 17px;
}

#u1202
{
	z-index: 191;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1215-4
{
	z-index: 199;
	width: 703px;
	min-height: 151px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#pu1208
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 16px;
}

#u1208
{
	z-index: 193;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1216-6
{
	z-index: 203;
	width: 703px;
	min-height: 150px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 136px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u322
{
	z-index: 3;
	width: 1240px;
	margin-top: 25px;
}

#u323-4
{
	z-index: 4;
	width: 126px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 577px;
}

#pamphletu397
{
	z-index: 9;
	width: 0.01px;
	height: 141px;
	padding-bottom: 411px;
	top: 101px;
	right: 1332px;
}

#u409popup
{
	z-index: 10;
}

#u409
{
	width: 330px;
}

#u410
{
	z-index: 11;
	width: 330px;
	height: 552px;
	margin-right: -10000px;
}

#u427
{
	z-index: 47;
	width: 315px;
	padding-bottom: 23px;
	margin-left: 15px;
}

#u318-4
{
	z-index: 48;
	width: 216px;
	min-height: 97px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 19px;
}

#buttonu411
{
	z-index: 12;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu411:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u412-4
{
	z-index: 13;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu411:hover #u412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u413
{
	z-index: 17;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu411:hover #u413
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu411:active #u413
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu419
{
	z-index: 26;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu411.ButtonSelected,#buttonu419:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u422-4
{
	z-index: 27;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu411.ButtonSelected #u412-4,#buttonu419:hover #u422-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u420
{
	z-index: 31;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu411.ButtonSelected #u413,#buttonu419:hover #u420
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu419:active #u420
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu415
{
	z-index: 33;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
	top: -1px;
	margin-bottom: -1px;
}

#buttonu415:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 16px;
}

#buttonu415.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 16px;
}

#u416-4
{
	z-index: 34;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu419.ButtonSelected #u422-4,#buttonu415:hover #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u417
{
	z-index: 38;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu419.ButtonSelected #u420,#buttonu415:hover #u417
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu415:active #u417
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu438
{
	z-index: 40;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
	margin-top: 1px;
}

#buttonu438:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px 16px;
}

#buttonu438.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px 16px;
}

#u441-4
{
	z-index: 41;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu415.ButtonSelected #u416-4,#buttonu438:hover #u441-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u439
{
	z-index: 45;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu415.ButtonSelected #u417,#buttonu438:hover #u439
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu438:active #u439
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423
{
	z-index: 19;
	width: 313px;
	padding-bottom: 24px;
	margin-left: 16px;
}

#buttonu419.ButtonSelected,#buttonu423:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#buttonu423.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 16px;
}

#u424-4
{
	z-index: 20;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu438.ButtonSelected #u441-4,#buttonu423:hover #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu423.ButtonSelected #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u425
{
	z-index: 24;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu438.ButtonSelected #u439,#buttonu423:hover #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423:active #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu423.ButtonSelected #u425
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u400
{
	z-index: 52;
	width: 72px;
	padding-bottom: 142px;
	margin-right: -10000px;
	left: 258px;
}

#u401
{
	width: 72px;
	padding-bottom: 55px;
	top: 101px;
	right: 1002px;
}

#u401.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u402
{
	z-index: 54;
	width: 39px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 16px;
}

#u401.PamphletThumbSelected #u402
{
	width: 39px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u402_img
{
	margin-right: -1px;
}

#u406
{
	width: 72px;
	padding-bottom: 40px;
	left: 258px;
}

#u407
{
	z-index: 57;
	width: 60px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 5px;
}

body
{
	position: relative;
	min-width: 1260px;
	padding-top: 36px;
	padding-bottom: 1px;
}

