.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1645-4
{
	font-family: julee-n4, fantasy;
}

#u1688-4,#u1689-4
{
	font-family: dosis-n3, sans-serif;
}

#u1961-6,#u1975-6,#u1968-6,#u1982-6
{
	font-family: dosis-n3, sans-serif;
}

