.ts03-Body
{
	font-family: lato-n3, sans-serif;
}

.ts00-Title
{
	font-family: abril-fatface-i4, serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1645-4
{
	font-family: julee-n4, fantasy;
}

#u1688-4,#u1689-4
{
	font-family: dosis-n3, sans-serif;
}

#u1864-4,#u1867-4
{
	font-family: dosis-n3, sans-serif;
}

#u1853-4,#u1879-4,#u1878-9,#u1848-4,#u1842-4,#u1822-4,#u1831-4,#u1821-4,#u1832-6
{
	font-family: dosis-n4, sans-serif;
}

