.version.tools /* version checker */
{
	color: #000004;
	background-color: #A95EF4;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.9602083333334px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u1643
{
	z-index: 2;
	min-height: 73px;
	padding-bottom: 11px;
}

#u1645-4
{
	z-index: 4;
	width: 148px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 300px;
}

#u1643-bw
{
	z-index: 2;
	min-height: 73px;
}

#u1644
{
	z-index: 3;
	width: 34px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 726px;
}

#u1646
{
	z-index: 8;
	width: 48px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 720px;
}

.ie #u1646
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#accordionu1648
{
	z-index: 10;
	width: 755px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1649
{
	z-index: 11;
	width: 755px;
}

#u1650-3
{
	z-index: 12;
	width: 745px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1650-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 745px;
	margin: 0px;
}

#u1651
{
	z-index: 15;
	width: 755px;
	padding-bottom: 3px;
}

#menuu1652
{
	z-index: 16;
	width: 721px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 24px;
}

#u1653
{
	width: 721px;
}

#u1654
{
	width: 721px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1654:hover
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1655-4
{
	width: 721px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1654:hover #u1655-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#u1661
{
	width: 721px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1654.MuseMenuActive,#u1661:hover
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1662-4
{
	width: 721px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1654.MuseMenuActive #u1655-4,#u1661:hover #u1662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 721px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1661.MuseMenuActive,#u1682:hover
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1684-4
{
	width: 721px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1661.MuseMenuActive #u1662-4,#u1682:hover #u1684-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#u1677
{
	width: 721px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1677:hover
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1680-4
{
	width: 721px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1682.MuseMenuActive #u1684-4,#u1677:hover #u1680-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#u1660,#u1681,#u1674,#u1667
{
	width: 721px;
	margin-top: 11px;
}

#u1668
{
	width: 721px;
	min-height: 25px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1677.MuseMenuActive,#u1668:hover
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1668.MuseMenuActive
{
	width: 721px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1669-4
{
	width: 721px;
	min-height: 25px;
	margin-right: -10000px;
	top: 2px;
}

#u1677.MuseMenuActive #u1680-4,#u1668:hover #u1669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#u1668.MuseMenuActive #u1669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 721px;
	margin: 0px -10000px 0px 0px;
}

#tab-panelu1818
{
	z-index: 55;
	width: 760px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 27px;
	position: relative;
}

#u1882
{
	z-index: 56;
	width: 760px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1883
{
	z-index: 57;
	width: 189px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u1883:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u1883.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u1884-4
{
	z-index: 58;
	width: 189px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1883:hover #u1884-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1887
{
	z-index: 62;
	width: 189px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u1887:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1888-4
{
	z-index: 63;
	width: 189px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1887:hover #u1888-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1895
{
	z-index: 67;
	width: 189px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#u1895:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1897-4
{
	z-index: 68;
	width: 189px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u1895:hover #u1897-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1891
{
	z-index: 72;
	width: 189px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u1891:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1887.TabbedPanelsTabSelected,#u1895.TabbedPanelsTabSelected,#u1891.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1893-4
{
	z-index: 73;
	width: 189px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u1891:hover #u1893-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1883.TabbedPanelsTabSelected #u1884-4,#u1887.TabbedPanelsTabSelected #u1888-4,#u1895.TabbedPanelsTabSelected #u1897-4,#u1891.TabbedPanelsTabSelected #u1893-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 189px;
	margin: 0px -10000px 0px 0px;
}

#u1819
{
	z-index: 77;
	width: 760px;
	background-color: transparent;
	position: relative;
}

#u1851
{
	z-index: 78;
	width: 752px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 24px 2px 194px 4px;
	border-width: 0px 1px 1px;
}

#u1865
{
	z-index: 79;
	width: 144px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1853-4
{
	z-index: 81;
	width: 599px;
	min-height: 139px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 153px;
}

#u1864-4
{
	z-index: 95;
	width: 144px;
	min-height: 36px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	margin-top: 12px;
	position: relative;
}

#pu1858
{
	width: 0.01px;
	margin-top: 35px;
}

#u1858
{
	z-index: 99;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1873
{
	z-index: 101;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u1860
{
	z-index: 103;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u1862
{
	z-index: 105;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 529px;
}

#pu1869-4
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 16px;
}

#u1869-4
{
	z-index: 107;
	width: 115px;
	min-height: 26px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
}

#u1870-4
{
	z-index: 111;
	width: 113px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 188px;
}

#u1852-4
{
	z-index: 115;
	width: 114px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 357px;
}

#u1868-4
{
	z-index: 119;
	width: 115px;
	min-height: 21px;
	background-color: transparent;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 15px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 528px;
}

#u1867-4
{
	z-index: 85;
	width: 145px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	margin-left: 5px;
	margin-top: 52px;
	position: relative;
}

#pu1856
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 15px;
}

#u1856
{
	z-index: 89;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1854
{
	z-index: 91;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u1871
{
	z-index: 93;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u1875
{
	z-index: 123;
	width: 747px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 13px 4px 340.39999999998395px 7px;
	border-width: 0px 1px 1px;
}

#page_position_content,#pu1643,#pu1865,#pu1880
{
	width: 0.01px;
}

#u1880
{
	z-index: 133;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1879-4
{
	z-index: 135;
	width: 581px;
	min-height: 162px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#pu1878-9
{
	width: 0.01px;
	margin-top: 21px;
}

#u1878-9
{
	z-index: 124;
	width: 747px;
	min-height: 300px;
	background-color: transparent;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1878-2,#u1878-3,#u1878-5
{
	font-size: 15px;
	line-height: 18px;
}

#u1878-7
{
	font-size: 24px;
	line-height: 29px;
}

#u1876
{
	z-index: 139;
	width: 732px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 7px;
}

#u1833
{
	z-index: 141;
	width: 753px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 29px 2px 278px 3px;
	border-width: 0px 1px 1px;
}

#pu1836
{
	width: 0.01px;
	margin-left: 113px;
}

#u1836
{
	z-index: 144;
	width: 168px;
	background-color: #C9C9C9;
	position: relative;
	margin-right: -10000px;
}

#u1834
{
	z-index: 142;
	width: 168px;
	background-color: #C9C9C9;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#pu1848-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 15px;
}

#u1848-4
{
	z-index: 152;
	width: 168px;
	min-height: 98px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1842-4
{
	z-index: 156;
	width: 168px;
	min-height: 103px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 330px;
}

#u1846
{
	z-index: 146;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1838
{
	z-index: 148;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 310px;
}

#u1849
{
	z-index: 150;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#pu1846,#pu1845-4
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 20px;
}

#u1845-4
{
	z-index: 160;
	width: 87px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
}

#u1843-4
{
	z-index: 164;
	width: 111px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u1844-4
{
	z-index: 168;
	width: 100px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u1840
{
	z-index: 172;
	width: 753px;
	background-color: transparent;
	margin-top: 69px;
	position: relative;
}

#u1820
{
	z-index: 174;
	width: 748px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 11px 6px 18.499999999999773px 4px;
	border-width: 0px 1px 1px;
}

#pu1825
{
	width: 0.01px;
	margin-left: 3px;
}

#u1825
{
	z-index: 175;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1822-4
{
	z-index: 177;
	width: 609px;
	min-height: 154px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#pu1823
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 50px;
}

#u1823
{
	z-index: 181;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1831-4
{
	z-index: 187;
	width: 609px;
	min-height: 175px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#pu1827
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 36px;
}

#u1827
{
	z-index: 183;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1821-4
{
	z-index: 191;
	width: 609px;
	min-height: 159px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#pu1829
{
	width: 0.01px;
	margin-top: 39px;
}

#u1829
{
	z-index: 185;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1832-6
{
	z-index: 195;
	width: 609px;
	min-height: 193px;
	background-color: transparent;
	line-height: 18px;
	font-size: 15px;
	text-align: justify;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 139px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1647
{
	z-index: 9;
	min-height: 41px;
	padding-bottom: 12px;
}

#u1688-4
{
	z-index: 47;
	width: 121px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 159px;
}

#u1689-4
{
	z-index: 51;
	width: 208px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 294px;
}

#u1647-bw
{
	z-index: 9;
	min-height: 41px;
	margin-top: 1px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

